
*{
    margin: auto;
    text-align: center;
    padding: 10px;
}
    img{
    
    height: 100px;
    width: 100px;
    padding-left: 25px;
    padding-right: 25px;
}
img:hover{
    opacity: 50%;
    transition: 0.2s ease;
}
#body{
    background-color: rgb(181, 181, 226);
}